.app {
  background-image: linear-gradient(rgba(195, 222, 250, 0.3), rgb(230, 230, 253, 0.8));
  width: 420px;
  height: 570px;
  margin: auto;
  position: relative;
  top: 7px;
  padding: 16px 35px 16px 20px;
}