.header-wrapper {
  margin-top: 20px;
  padding-bottom: 10px;
}

.header-title,
.header-subtitle {
  margin: 0;
}

.header-title {
  color: rgb(110, 136, 188);
  font-weight: 550;
}

.header-subtitle {
  color: rgb(174, 183, 197);
  font-weight: normal;
  font-size: 12px;
}