.header-wrapper {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #C0C7D4;
}

.header-title,
.header-subtitle {
  margin: 0;
  font-weight: lighter;
}

.header-title {
  color: #A5AFD4;
}

.header-subtitle {
  color: #C2CAD7;
}