.main {
  padding: 15px 0;
  border: {
    top: 1.5px solid #C0C7D4;
    bottom: 1.5px solid #C0C7D4;
  }
}

.todo-list-container {
  width: 400px;
  height: 100px;
  overflow-y: scroll;
}