// 整個move to end物件的容器
.move-to-end-container {
  float: right;
  display: flex;
  align-items: center;
  margin: 12px 7px 0 0;

  h6 {
    margin: 0 4px 0 0;
    color: rgb(146, 159, 185);
  }
}

// wrapper的樣式
.switch-wrapper,
.switch-wrapper-on {
  display: flex;
  width: 30px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.switch-wrapper-on {
  justify-content: flex-end;
}

// switch的樣式
.switch,
.switch-on {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

// wrapper & switch的背景色
.switch-wrapper,
.switch-on {
  background-color: white;
}

.switch-wrapper-on,
.switch {
  background-color: #CED3F2;
}