@use '../utilities/variables';
// 包含百分比及進度條的整個組件部分 (progress)
.progress-container {
  display: flex;
  align-items: center;
}

// 百分比的部分 (percent)
.progress-percent {
  color: $secondary-color;
  flex: 1;
  font-size: 13px;
}

// 進度條的部分 (progressbar)
.progressbar-background,
.progressbar-done {
  border-radius: 12px;
  height: 11px;
}

.progressbar-background {
  flex: 9;
  background-color: white;
}

.progressbar-done {
  background-color: #9AB0F8;
}